html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  will-change: all; /* https://stories.jotform.com/how-to-use-css-animations-like-a-pro-dfacc1e97338 */
}

body {
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.img-responsive {
  max-width: 100%;
}

button {
  border: 2px solid #000;
  background-color: transparent;
  color: #000;
  font-weight: bold;
  font-family: "Open Sans Condensed";
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-sm {
  padding: 0.5em;
}

.btn-m {
  padding: 1em 2em;
}

.btn-filled {
  background: #000;
  color: #fff;
}


/**
 * Animation
 *
 */

 .delay-80 {
   animation-delay: 80ms;
 }

 .delay-100 {
   animation-delay: 100ms;
 }

 .delay-120 {
   animation-delay: 120ms;
 }

 .delay-140 {
   animation-delay: 140ms;
 }

 .delay-200 {
   animation-delay: 200ms;
 }

 .delay-300 {
   animation-delay: 300ms;
 }

 .delay-400 {
   animation-delay: 400ms;
 }

 .ani-slow {
   animation-duration: 2s;
 }


/**
 * Content
 *
 */

 .m-header {
   max-width: 100%;
 }

 .m-detail-layout .m-type-display-1 span {
   display: none;
 }

 .m-detail-layout .m-type-display-1 img {
   width: 200px;
   display: block;
   margin-bottom: 1.5em;
   margin-left: auto;
   margin-right: auto;
 }

/*.m-mimove {
  background-color: #014898;
  color: #fff;
}

.m-detail-layout.mimove .m-right-panel {
  background:#014898 url(../img/bg-mimove.jpg) top center no-repeat;
}

.m-fasad {
  background-color: #F7921E;
  color: #fff;
}

.m-prek {
  background-color: #1C3F94;
  color: #fff;
}

.m-webdesign {
  background-color: #585858;
  color: #fff;
}*/

.fjelkners-1 {
    max-width: 100%;
    position: absolute;
    left: 30px;
    width: 53%;
    margin-top: -310px;
}

.grey-dark-1, .grey-dark-1 a {
  background-color: #383838;
  color: #eee;
}

.grey-dark-2, .grey-dark-2 a {
  background-color: #2B2B2B;
  color: #eee;
}

.grey-dark-3, .grey-dark-3 a {
  background-color: #252525;
  color: #eee;
}

.grey-dark-4, .grey-dark-4 a {
  background-color: #1C1C1C;
  color: #eee;
}

.cd-slider-wrapper .cd-open {
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    background: url(../img/cd-icon-zoom.svg) no-repeat center center;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.4s;
    -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.4s;
    transition: transform 0.3s 0s, visibility 0s 0.4s;
}
.cd-slider-wrapper .cd-open.show {
    visibility: visible;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.4s;
    -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.4s;
    transition: transform 0.3s 0s, visibility 0s 0.4s;
}
.m-detail-layout .cd-slider-wrapper .cd-open {
    /*background: #000 url(../img/cd-icon-zoom.svg) no-repeat center center;*/
    /*background: #000;*/
    background-size: 50%;
    height: 80px;
    width: 80px;
    transition: all 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.m-detail-layout .cd-slider-wrapper .cd-open .pulsate-animation {
    background: rgba(0,0,0,1);
    display: block;
    border-radius: 50%;
    height: 60%;
    width: 60%;
    -webkit-animation: pulsate 900ms ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.8, 0.8); opacity: 0.0;}
    50% {opacity: 0.3;}
    100% {-webkit-transform: scale(1, 1); opacity: 0.0;}
}

.m-detail-layout .cd-slider-wrapper .cd-close {
    background: #000 url(../img/cd-icon-close.svg) no-repeat center center;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 50%;
    background-size: 50%;
    height: 68px;
    width: 68px;
    transition: all 200ms ease;
}

.m-detail-layout .cd-slider-wrapper .cd-close:hover {
    background: #000 url(../img/cd-icon-close.svg) no-repeat center center;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    background-size: 70%;
    height: 78px;
    width: 78px;
}

.cd-slider-active .cd-slider-wrapper .cd-close {
    visibility: visible;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.4s 0.4s;
    -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.4s 0.4s;
    transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.4s 0.4s;
}

.m-detail-layout .cd-slider-navigation li:first-child a {
    left: 30px;
    position: fixed;
    background: #ff0000 url(../img/cd-icon-arrow.svg) no-repeat center center;
}

.m-detail-layout .cd-slider-navigation li:first-child {
    background: #000;
    border-radius: 50%;
    padding: 1.5em;
}

.m-detail-layout .cd-slider-navigation li:last-child {
    background: #000;
    border-radius: 50%;
    padding: 1.5em;
}

.m-detail-layout {
  padding-left: 0;
}

.m-detail-layout .m-header {
  height: 100%;
  max-width: 100%;
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  flex-flow: row wrap;
}

.aside_title .m-button {
  background-color: #000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
}

.aside_title a.m-button {
  display: flex;
  align-items: center;
}

.m-button {
    background-color: transparent;
    min-width: auto;
}

.m-right-panel .right-panel_top {
    height: 100vh;
    border-bottom: 0 solid #cfd8dc;
}

.m-segment {
    border-bottom: 0 solid #cfd8dc;
    position: relative;
}

.m-segment.full-width {
    padding-left: 0;
    padding-right: 0;
}

.three-columns {
    columns: 3;
}

/* Landing Layout */

 .m-landing-layout .m-header {
   text-align: center;
   padding-top: 1.25em;
 }

 .m-landing-layout .m-page {
   display: flex;
   flex-direction: column;
   height: 100vw;
 }
 .m-landing-layout .m-page .m-segment {
   flex-grow: 1;
  padding: 0;
  background-color: #000;
}
  .m-landing-layout .m-page .m-segment a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 3em 4.25em;
    text-align: center;
  }

  #secondary-menu .m-segment a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 1em 4.25em;
    text-align: center;
  }
  #secondary-menu .m-segment a:hover {
    background-color: #333;
  }

  .m-landing-layout .m-page .m-segment a h2.m-type-heading-1 {
    width: 100px;
    margin: 0 auto;
    font-weight: 500;
  }
  .m-landing-layout .m-page .m-segment a h2.m-type-heading-1 span {
    display: inline-block;
    text-indent: -99999px;
  }
  .m-landing-layout .m-page .m-segment a h2.m-type-heading-1 img {
    width: 100px;
  }

.m-landing-layout .m-page .m-segment .btn-filled {
  display: none !important;
}

/**
 * Juxtapose
 *
 */

 .m-detail-layout div.juxtapose {
   box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
   border: 1px solid #eee;
 }

  .m-detail-layout div.juxtapose .div.jx-arrow.jx-left {
   z-index: 1;
 }

.m-detail-layout div.jx-control {
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    width: 6  px;
    background-color: #000;
}

.m-detail-layout div.jx-controller {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 60px;
    width: 60px;
    margin-left: -30px;
    background-color: #000;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}


/**
 * Navigation
 *
 */


/* Container */

 .m-detail-layout .m-aside {
   /*width: 500px;*/
   width: 60px;
   height: 60px;
   top: 30px;
   left: 50%;
   margin-left: -30px;
   margin-top: 0;
   position: fixed;
   z-index: 1;
   /*margin-left: -250px;*/
 }
   .m-detail-layout .m-aside .aside_title {
       position: fixed;

   }

/* Menu */

 #primary-menu ul {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   display: none;
   /*display: flex;
   justify-content: space-around;*/
 }

 #primary-menu ul li {
   transition: all 200ms ease;
 }

 /*#primary-menu.headroom--pinned ul li.mimove {
   background-color: #003066;
 }
 #primary-menu.headroom--pinned ul li.fasad {
   background-color: #F7921E;
 }
 #primary-menu.headroom--pinned ul li.prek {
   background-color: #1C3F94;
 }
 #primary-menu.headroom--pinned ul li.webdesign {
   background-color: #302263;
 }*/

 #primary-menu.headroom--top ul {
     /*background-color: transparent !important;*/
     transition: all 100ms ease;
   }
   #primary-menu ul li {
     display: inline-block;
     height: 100%;
     width: 100%;
     padding-left: 20px;
     padding-right: 20px;
   }
   #primary-menu ul li a {
     color: #222;
     font-weight: bold;
     font-family: "Open Sans Condensed";
     text-align: center;
     display: block;
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     text-transform: uppercase;
     letter-spacing: 1px;
   }
   #primary-menu ul li a span {
     display: inline-block;
   }
   #primary-menu ul li a img {
     width: 20%;
     transition: all 100ms ease;
     margin-left: auto;
     margin-right: auto;
   }
   #secondary-menu {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   #secondary-menu span {
     text-indent: -9999px;
     display: inline-block;
   }
   #secondary-menu img {
     width: 25%;
     transition: all 100ms ease;
     margin-left: auto;
     margin-right: auto;
   }
   #secondary-menu .m-segment {
       text-align: center;
       height: 10em;
       padding: 0;
       display: flex;
       align-items: center;
       justify-content: center;
       width: 100%;
   }
   .m-segment.credits {
     text-align: center;
     background-color: #000;
     color: #fff;
   }
   #secondary-menu .m-segment .segment_content {
    width: 100%;
    height: 100%;
    max-width: 100%;
   }
   #secondary-menu .m-segment a {
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
   }
   #primary-menu.headroom--top ul li a img {
     width: 20%;
     transition: all 100ms ease;
   }

   /**
    * Headroom
    * Note: I have omitted any vendor-prefixes for clarity.
    * Adding them is left as an exercise for the reader.
    */
   .headroom {
       will-change: transform;
       transition: transform 200ms linear;
   }
   .headroom--pinned {
       transform: translate3d(0px,0px,0px);
       -webkit-animation-name: fadeIn;
       animation-name: fadeIn;
   }
   .headroom--unpinned {
       transform: translate3d(0,-100px,0);
       -webkit-animation-name: fadeOut;
       animation-name: fadeOut;
   }


   /**
    * Media queries
    * Desktop - 1024 and up
    */

   @media screen and (min-width: 1024px) {
     .m-detail-layout .m-header {
       /*height: 80vh;*/
     }
     .m-detail-layout .m-type-display-1 img {
       width: 400px;
     }
     .m-detail-layout .full-width-feature .slogan {
       position: absolute;
       bottom: 0px;
       width: 60%;
       padding: 3em 4em;
     }
     .m-detail-layout .full-width-feature .slogan.left {
       left: 0;
     }
     .m-detail-layout .full-width-feature .slogan.right {
       right: 0;
     }
     .m-detail-layout .full-width-feature .slogan h2 {
       font-size: 100px;
       font-weight: 700;
     }

     .m-landing-layout .m-header {
       text-align: left;
     }
     .m-landing-layout .m-header .header_intro {
         display: block;
     }
     .m-landing-layout .m-page {
         display: flex;
         align-items: center;
         flex-direction: column;
         height: 100vh;
         position: absolute;
         top: 0;
         right: 0;
         width: 60%;
         overflow-y: hidden;
     }
     .m-landing-layout .m-page .m-segment {
         padding: 0;
         display: inline-block;
         transition: all 200ms ease;
         width: 100%;
         height: 33.33333333%;
     }
     .m-landing-layout .m-page .m-segment a {
       padding: 6em 4.25em;
       text-align: left;
     }
     .m-landing-layout .m-page .m-segment a:hover {
       background-color: #333;
       transition: all 200ms ease;
     }
     .m-landing-layout .m-page .m-segment a h2.m-type-heading-1 {
       margin: 0;
     }
     .m-landing-layout .m-page .m-segment .btn-filled {
       display: inline-block;
       opacity: 0;
       transition: all 200ms ease;
       margin: 0;
       height: 100%;
     }
     .m-landing-layout .m-page .m-segment:hover .btn-filled {
       opacity: 1;
       transition: all 200ms ease;
     }

     #secondary-menu {
        flex-direction: row;
     }
     #secondary-menu .m-segment {
       text-align: center;
       height: 20em;
       padding: 0;
       display: flex;
       align-items: center;
       justify-content: center;
       width: 33.3333333%;
     }
   }
